.app {
  background-color: #8f68a9;
}
.header-container,
.footer-container {
  background: #8f68a9;
  background: linear-gradient(90deg, #4150b1 0%, #8f68a9 30%, #bc6894 60%, #f6bf75 100%);
}
h1 {
  color: #fff;
  font-size: 3em;
  margin-bottom: 0.5em;
}