footer ul {
    align-items: center;
    display: flex;
    justify-content: center;
}
footer ul li {
    background-color: #fff;
    height: 20px;
    list-style: none;
    margin: 0 5px;
    padding: 0 5px;
}
footer a {
    color: #4150b1;
    text-decoration: none;
}